<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <!-- Properties for log location and pattern -->
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <!-- Appenders: Console + Rolling File -->
    <Appenders>
        
        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Rolling File Output -->
        <RollingFile name="File" 
        fileName="${basePath}/automation.log"
        filePattern="${basePath}/automation-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            
                <SizeBasedTriggeringPolicy size="5000"/>
        </RollingFile>

    </Appenders>

    <!-- Loggers -->
    <Loggers>
        <!-- Application Log Level -->
        <Root level="info"><!--Here you can use multiple log levels All < Trace < Debug < Info < Warn < Error < Fatal -->
            <AppenderRef ref="File"/> <!--<AppenderRef ref="Consloe"/>-->
        </Root>
    </Loggers>

</Configuration>